@import "tailwindcss";

/* variables */
:root {
    --primary-color: #005AAA;
    --secondary-color: #399520;
}

.input {
    width: 100%;
    padding: 12px 16px;
    background: #f3f3f3;
    border-radius: 8px;
    outline: none;
    border: 1px solid transparent;
}

.input:focus {
    border-color: var(--primary-color);
    background: white;
}